* {
	--primary-color: #008080;
	font-family: 'Markazi Text', serif;
}
/*
navbar styles
*/
.navbar {
	background-color: transparent !important;
	transition: 0.5s;
}
.navbar .navbar-brand {
	color: #fff;
}
.navbar .navbar-brand:hover {
	color: var(--primary-color);
}
.navbar .nav-item .nav-link{
	color: #fff;
	font-size: 1.2rem;
}
.navbar .nav-item .nav-link:hover {
	color: gray;
}
.navbar-scrolled {
	background-color: rgba(255, 255, 255, 0.5) !important;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.navbar li {
  position:relative;
}
.navbar li::after {
    content: '';
    display: block;
    width: 0;
    position:absolute;
    left:50%;
    bottom: 20%;
    height: 2px;
    background: #fff;
    transition: cubic-bezier(.77,0,.18,1) 0.5s;
}
.navbar li:hover::after {
    width: 80%;
    left: 10%;
}
.custom-bg {
	background-color: rgba(255, 255, 255, 0.5) !important;
	/*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);*/
	webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.banner {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,0.8)), url('../images/homepage_background_image.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner #particles-js {
	height: 100%;
}
.banner .header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.banner .header-text h1,
.banner .header-text h3 {
	text-align: center;
	color: white;
	animation: fadeInUp 1s ease forwards;
}
.header-text h1 {
	font-weight: 700;
	text-shadow: 1px 1px 3px #fff;
}
